<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Error"
      internalLogToConsole="false"
      throwConfigExceptions="true"
  internalLogFile="${basedir}/Logs/internal_log_file.txt">
  <!--C:\Feedback\Application\NlogFileBaseLog\nlog-internal.log-->
  <!--internalLogFile="D:\Projects\Enrollment\Services\AllLogs\ApplicationLogs\nlog-internal.log">-->
  <!--<targets>
    <target xsi:type="File" name="ErrorLog" fileName="${basedir}/Logs/${date:format=dd}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ErrorLog" />

  </rules>-->


  <targets async="true">
    <target xsi:type="File"  name="TraceLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Trace.txt" layout="${date} | ${callsite} :: ${uppercase:${level}} | ${machinename} ${newline} ${message} ${newline}" />
    <!--<target xsi:type="File" name="DebugLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Debug.txt" layout="${date} | ${callsite} | ${message}" />
    <target xsi:type="File" name="InfoLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Info.txt" layout="${date} | ${callsite} | ${message}" />
    <target xsi:type="File" name="WarnLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Warn.txt" layout="${date} | ${callsite} | ${message}" />-->
    <target xsi:type="File" name="ErrorLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Error.txt" layout="${date} | ${callsite}:: ${uppercase:${level}} ${newline} ${message} ${newline}" />
    <!--<target xsi:type="File" name="FatalLog" fileName="${basedir}/Logs/${date:format=dd-MMM-yyyy}-Fatal.txt" layout="${date} | ${callsite} | ${message}" />-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="TraceLog" />
    <!--very detailed logs-->
    <!--<logger name="*" minlevel="Debug" writeTo="DebugLog" /> -->
    <!--debugging information-->
    <!--<logger name="*" minlevel="Info" writeTo="InfoLog" />-->
    <!--information messages, which are normally enabled in production environment-->
    <!--<logger name="*" minlevel="Warn" writeTo="WarnLog" />-->
    <!--warning messages, typically for non-critical issues, which can be recovered or which are temporary failures-->
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />
    <!--error messages - most of the time these are Exceptions-->
    <!--<logger name="*" minlevel="Fatal" writeTo="FatalLog" />-->
    <!--very serious errors!-->
  </rules>


  <!--Examples how you can log-->
  <!--
  private static NLog.Logger logger = NLog.LogManager.GetCurrentClassLogger();
  logger.Trace("Sample trace message");
  logger.Debug("Sample debug message");
  logger.Info("Sample informational message");
  logger.Warn("Sample warning message");
  logger.Error("Sample error message");
  logger.Fatal("Sample fatal error message");

  // alternatively you can call the Log() method
  // and pass log level as the parameter.
  logger.Log(LogLevel.Info, "Sample informational message");
  -->
</nlog>
